<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
    
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="{{ url_for('static', filename='cool_logo.jpg') }}" alt="Cool Logo">
            <h2>CoolThing</h2>
            <hr>
        </div>
        <ul class="sidebar-menu">
            <li><a href="/dashboard">⌂<span></span> Dashboard</a></li>
            <li><a href="#favorites">☆<span></span> Favorites</a></li>
            <li><a href="/">⚷<span></span> Accounts</a></li>
            <li><a href="/settings">⚙<span></span> Settings</a></li>
            <li><a href="#about"><span>ℹ</span> About</a></li>
            <li><a href="/login"><span>Logout</span></a></li>
        </ul>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="dashboard-container">
        <h1 class="dashbaord">Settingsj</h1>
    </div>

    <br>
    <br>
    <br>
    <div class="Settingsthingy">
        <h2 style="float">fewas</h2>
    </div>

    </div>
    
</body>
</html>